{% extends "base.html" %}
{% load static %}
{% block title %}
Login
{% endblock title %}


{% block content %}
    <div class="text-center mt-3">
        <h1>Iniciar Sesión</h1>
    </div>
    <div class="container w-25 uso-completo">
        <form class="row mt-4 form needs-validation" id="formulario" method="POST" novalidate>
            {% csrf_token %}
            {{form.as_table}}
            
            <div>
                <button type="submit" class="btn btn-success" id="iniciar">Iniciar</button>
            </div>
            <div class="row mt-4">
                <div class="text-center">
                    <p>¿Aún no eres miembro? Crea una cuenta <a href="{% url 'registro:registro' %}">aquí</a></p>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}
