{% extends "base.html" %}
{% load static %}
{% block title %}
Registro
{% endblock title %}


{% block content %}
    <div class="text-center mt-3">
        <h1>Crea una cuenta</h1>
    </div>
    <div >
        <form class="formulario" class="row g-3 form needs-validation" method="POST" novalidate>
            {% csrf_token %}
            {{ form }}
            <div align="center">
                <button class="form-group" type="submit" class="btn btn-light"  id="crear">Crear</button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

