{% extends "base.html" %}
{% load static %}
{% block title %}
Registro
{% endblock title %}


{% block content %}
    <div class="text-center mt-3">
        <h1>Crea una cuenta</h1>
    </div>
    <div class="container w-25 uso-completo">
        <form class="row g-3 form needs-validation" id="formulario" method="POST" novalidate>
            {% csrf_token %}
            {{ form }}
            <div>
                <button type="submit" class="btn btn-success" id="crear">Crear</button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

