{% extends "base.html" %}
{% load static %}
{% block title %}
Detalle
{% endblock title %}


{% block content %}

  <section>
      <div class="container">
          <div class="row">
              <div class="col-lg-12 mb-4 mt-2 text-center">
              <h2>PRODUCTOS</h2>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 col-sm-12 text-center bg-primario">
                  <img class="rounded-circle mb-4" alt="140x140" style="width: 140px; height: 140px;" src="images/Bandanas.jpg" data-holder-rendered="true">
                <h3>PAÑUELO GATO COLLAR</h3>
                <p>Hermosos pañuelos ajustable para gatos.</p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 text-center bg-primario">
                  <img class="rounded-circle mb-4" alt="140x140" style="width: 140px; height: 140px;" src="images/Bolsas biodegradables.jpg" data-holder-rendered="true">
              <h3>BOLSAS PARA PERROS</h3>
              <p>Bolsas de basura compostables para perros.</p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 text-center bg-primario">
                  <img class="rounded-circle mb-4" alt="140x140" style="width: 140px; height: 140px;" src="images/cama de gato madera.jpg" data-holder-rendered="true">
              <h3>CAMA ESTANTE CAPSULA</h3>
              <p>Cama flotante de madera para gatos</p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 text-center bg-primario">
                  <img class="rounded-circle mb-4" alt="140x140" style="width: 140px; height: 140px;" src="images/Correas.jpg" data-holder-rendered="true">
              <h3>CORREAS ELASTICAS DOG</h3>
              <p>Correa elastica para perros de todas las razas.</p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 text-center bg-primario">
                  <img class="rounded-circle mb-4" alt="140x140" style="width: 140px; height: 140px;" src="images/Rascador.jpg" data-holder-rendered="true">
              <h3>ÁRBOLES RASCADORES DE COLORES PARA GATOS</h3>
              <p>Mira estos árboles de colores rascadores muy fashión para los michus.</p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 text-center bg-primario">
                  <img class="rounded-circle mb-4" alt="140x140" style="width: 140px; height: 140px;" src="images/Identificadores.jpg" data-holder-rendered="true">
              <h3>IDENTIFICADORES PARA MASCOTAS</h3>
              <p>Chapitas identificadoras para ellos</p>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12 mt-4 mb-2 text-center">
                  <small class="blockquote-footer">Patrico Alarcon<cite title="Source Title"> El Bromas</cite></small> 
              </blockquote>
              </div>
          </div>
          </div>
          <div class="jumbotron">
          <div class="container">
              <div class="row">
              <div class="text-center col-md-8 col-12 mx-auto">
                  <p class="lead">"El mundo sería un lugar mucho mejor si las personas tuvieran el corazón de los perros"

                  </p>
              </div>
              </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 mb-2 text-center">
                <h2>OTROS SERVICIOS</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center text-center">
              <div class="col-sm-6 col-lg-4 bg-primario">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dog-bowl" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#CDEF77" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M10 15l5.586 -5.585a2 2 0 1 1 3.414 -1.415a2 2 0 1 1 -1.413 3.414l-3.587 3.586" />
                  <path d="M12 13l-3.586 -3.585a2 2 0 1 0 -3.414 -1.415a2 2 0 1 0 1.413 3.414l3.587 3.586" />
                  <path d="M3 20h18c-.175 -1.671 -.046 -3.345 -2 -5h-14c-1.333 1 -2 2.667 -2 5z" />
                </svg>
              <h3>Paseos peludos</h3>
              <p> ¿Buscas paseos perrunos durante la semana con personas que amen a los animales? ¡Fundación Woof or Miau! ofrece este servicio! Con voluntarios que son previamente capacitados en manejo animal, podemos apoyarte en una tenencia y convivencia responsable íntegra. El valor del servicio se divide en un honorario que recibe el voluntario por su tiempo y una diferencia de apoyo a la labor de la Fundación en sus áreas de educación y rescate.» </p>
              <p> <a class="btn btn-link" href="#">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-lg-4 bg-primario">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#CDEF77" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                </svg>              
                <h3>¿Sesiones de juego con tu amigo felino?</h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, illo, libero esse assumenda culpa consequatur exercitationem beatae odio praesentium nihil iste ipsum reiciendis pariatur. Recusandae, reiciendis quidem eaque aut ab. </p>
              <p> <a class="btn btn-link" href="#">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-lg-4 bg-primario">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-scissors" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#CDEF77" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <circle cx="6" cy="7" r="3" />
                  <circle cx="6" cy="17" r="3" />
                  <line x1="8.6" y1="8.6" x2="19" y2="19" />
                  <line x1="8.6" y1="15.4" x2="19" y2="5" />
                </svg>
              <h3>¡Servicio de Peluquería a domicilio!</h3>
              <p> Corte de pelo correspondiente a la raza o el solicitado, rasurado y despunte en trasero y zonas intimas, limpieza de orejas, corte de uñas, peinado en aire caliente perfume y abrillantador.</p>
              <p> <a class="btn btn-link" href="#">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-lg-4 bg-primario">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-vaccine" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#CDEF77" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M17 3l4 4" />
                  <path d="M19 5l-4.5 4.5" />
                  <path d="M11.5 6.5l6 6" />
                  <path d="M16.5 11.5l-6.5 6.5h-4v-4l6.5 -6.5" />
                  <path d="M7.5 12.5l1.5 1.5" />
                  <path d="M10.5 9.5l1.5 1.5" />
                  <path d="M3 21l3 -3" />
                </svg>
              <h3>Vacunas y Desparasitaciones</h3>
              <p> <em class="icon-desktop "></em> Consulta veterinaria especializada sin salir de tu casa. Un médico veterinario se desplazará hasta tu domicilio para realizar chequeos rutinarios</p>
              <p> <a class="btn btn-link" href="#">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-lg-4 bg-primario">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stethoscope" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#CDEF77" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1" />
                  <path d="M8 15a6 6 0 1 0 12 0v-3" />
                  <path  d="M11 3v2" />
                  <path  d="M6 3v2" />
                  <circle cx="20" cy="10" r="2" />
                </svg> 
              <h3>Salud dental</h3>
              <p> Una rutina que incluya cepillados y controles regulares, así como una nutrición adecuada, puede ayudar a su mascota a vivir una vida larga y saludable.</p>
              <p> <a class="btn btn-link" href="#">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-lg-4 bg-primario">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-smart-home" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#CDEF77" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105" />
                  <path d="M16 15c-2.21 1.333 -5.792 1.333 -8 0" />
                </svg>
              <h3>Asesorias de como cuidar a tu mascota</h3>
              <p>No se limita solo a bañarlo, además, siempre es importante cortar sus uñas, limpiar sus oídos, sus dientes, pelaje, etc. Mantén limpio el comedero y bebedero de agua, así como su cama y entorno. Ejercita a tu mascota.</p>
              <p> <a class="btn btn-link" href="#">View details &raquo;</a></p>
              </div>
              </div>
      </div>
  </section>
  
{% endblock %}

