{% extends "base.html" %}
{% load static %}
{% block title %}
Carrito de compras
{% endblock title %}


{% block content %}
    <section style="background-color: #a18c8c;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Carrito de compras</h1>
                  </div>
                  <hr class="my-4">
                  {% if request.session.carrito.items %}
                  {% for key,value in request.session.carrito.items %}
                  <div class="row mb-4 d-flex justify-content-between align-items-center">

                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
  <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
</svg>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                    
                      <h6 class="text-muted">{{value.nombre}}</h6>
                      <h6 class="text-black mb-0">${{value.acumulado}}</h6>
                    
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <a href= "{% url 'carrito:Sub' value.producto_id %}"  class="badge btn btn-dark badge-dark px-2">-</a>
                      <a href= "{% url 'carrito:Add' value.producto_id %}" class="badge btn btn-dark badge-dark px-2">+</a>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">$ {{value.acumulado}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>

                  <hr class="my-4">
                  {% endfor %}
      {% endif%}  
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Resumen</h3>
                  <hr class="my-4">

                  <h5 class="text-uppercase mb-3">Envio</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Retiro en tienda- $0</option>
                      <option value="2">Próximamente envíos</option>
                    </select>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total a pagar</h5>
                    <h5>${{total_carrito}}</h5>
                  </div>
                  {% if user.is_authenticated %}
                  <button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Ir a pagar</button>
                  {% else %}
                  <button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Registrarme</button>
                  {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}