@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --primario: #ca6a6a;
    --secundario: #ffffff;
    --terciario: #a18c8c;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width: 100%;
    height: 10%;
}

.botton-line {
    border-bottom: solid .1px rgb(219, 219, 219);
}

@media (max-width: 980px) {
    .vertical {
        display: inline !important;
    }

    .uso-completo {
        width: 100% !important;
    }

}

.bg-primario {
    color: var(--secundario);
    background: linear-gradient(to bottom right, var(--primario) 55%, var(--terciario));
    border-radius: 39px 39px 39px 39px;
    -moz-border-radius: 39px 39px 39px 39px;
    -webkit-border-radius: 39px 39px 39px 39px;
    padding: 50px;
    transition: width 1s, height 1s, transform 1s;
    margin: 10px;
    min-width: 265px;
    margin-top: 2rem;
}

.bg-notransform {
    color: var(--secundario);
    background: linear-gradient(to bottom right, var(--primario) 55%, var(--terciario));
    border-radius: 39px 39px 39px 39px;
    -moz-border-radius: 39px 39px 39px 39px;
    -webkit-border-radius: 39px 39px 39px 39px;
    padding: 50px;
    margin: 10px;
    min-width: 265px;
    max-width: 540px;
    margin-top: 1rem;
}

.bg-primario:hover {
    transform: scale(1.1);
}

.zoom {
    transition: width 1s, height 1s, transform 1s;
}

.zoom:hover {
    transform: scale(1.1);
}

.bg-secundario {
    background-color: var(--primario);
}

.rounded-personalizado {
    border-radius: 25px;
}

.margin {
    margin-top: 100px
}

a {
    text-decoration: none
}

.ajustar_img {
    width: 10%;
    margin: 100px;
}
h6{ 
    text-emphasis-color: var(--primario);
    color:rgb(48, 41, 41);
    text-align: center;
}
.formulario {
        font-size: 120%;
        text-align: left;
        width : auto;
        margin-left: 10%;
        margin-right: 10%;
        color: #533736;
        background-color: #d8b7b6;
}


@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}